<!DOCTYPE html>

<html>
	<head>
		<meta charset='utf-8'>
		<link rel="stylesheet" href="../../../static/css/style.css">
		<title>Arture</title>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="../../../static/js/search.js"></script>
	</head>
	<body>
		<div class="header-container">
			<div class="head-content">
				<h1 id="banner"><a href="http://192.168.1.209" style="text-decoration: none; color:inherit">Arture</a></h1>
				<div id="user-info">
					<span id="user-page-lnk"><a href="http://192.168.1.209/users/{{ user_objectId }}" style="text-decoration: none; color: inherit">{{ user_name }}</a></span>
					<span id="user-welcome-message" class="system-message">welcome.</span>
				</div>
				<div id="search">
					<select id="search-select"><option value="user">User</option><option value="arture">Arture</option></select>
					<input id="search-input" type="text">
					<div id="search-result"></div>
				</div>
			</div>
			<script>
				var is_hover = 0;
				$('#search-result').hover(function(){is_hover=1},function(){is_hover=0})
				$('#search-input').keyup(function(){search('{{ user_objectId  }}')})
				$('#search-input').on('focusout',function(){
					if(is_hover == 0) $('#search-result').hide();
				})

				$('#search-input').focusin(function(){
					$('#search-result').show();
					search('{{ user_objectId }}');
				})
			</script>
		</div>
		<div class="main-container">
			<div class="main-contents">
				<div class="top-container">
					<div class="top-content">
						<div class="user-profile">
							<div class="user-profile-img">
								<img src="http://192.168.1.209:80/media/article_images/default_image/default.jpg"></img>
								{% if is_mine == True %}
								<form id="profile-img-form">{% csrf_token %}
								<input type="file" id="image" name="image" style="display:block;width:0;height:0;visibility:hidden">
								<button type="button" class="upload-profile-img" onclick='upload_profile_img()'></button>
								</form>
								<script>
								var img_file_input = document.getElementById("image")
								var profile_img_form = document.getElementById("profile-img-form")
								function upload_profile_img() {
									img_file_input.click()	
								}
								img_file_input.onchange = function() { profile_img_form.submit()	}
								</script>
								{% endif %}
							</div>
							<div class="user-profile-name">
								<span class="user-profile-name-txt"><a href="http://192.168.1.209/artures/{{ arture_id }}">{{ arture_title }}</a></span>
							</div>
							<div class="user-profile-tools">
								{% if is_mine == False %}
									{% if is_friend == False %}
										{% if is_request_sended == False and is_request_received == False %}
											<form id="request-form">{% csrf_token %}
												<input type='hidden' name='to_id' value='{{ profile_objectId }}'>
											</form>
											<button class="friend-tool" id="add-friend" onclick='sendFriendRequest()' >친구 추가</button>
											<script>
												function sendFriendRequest() {
													$.ajax({
														url:'http://192.168.1.209/users/{{ user_objectId }}/friend_requests/create',
														type:'post',
														data: $('#request-form').serialize(),
														success:function(data) {
															$('#add-friend').prop("disabled", true)
															$('#add-friend').html("친구요청 전송됨")
															$('#add-friend').attr("id","sended-friend-req")
														}
													})	
												}
											</script>
										{% elif is_request_sended == True %}
											<button class="friend-tool" id="sended-friend-req">친구요청 전송됨</button>
										{% else %}
											<button class="friend-tool" id="received-friend-req">친구요청 받음</button>
										{% endif %}
									{% else %}
										<button class="friend-tool">친구</button>
									{% endif %}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<div class="right-container">
					<div class="right-content">
						<div class="banner">
							<span class="banner-text">Follower</span>
						</div>
					</div>
					{% for follower in followwer_list %}
					<div class="mid-right-content">
						<div class="request-info">
							<img class="request-img" src="{{ follower.image }}">
							<div class="request-txt">
								<span class="request-name"><a href="http://192.168.1.209/users/{{ follower.object_id }}">{{ follower.user_name }}</a></span>
							</div>
						</div>
					</div>
					{% endfor %}

				</div>

				<!-- Friend list -->
				<div class="left-container">
					<div class="left-content">
						<div class="banner">
							<span class="banner-text">Related</span>
						</div>
					</div>
					{% for related in related_arture_list %}
					<div class="left-content">
						<div class="request-info">
							<img class="request-img" src="http://192.168.1.209:80/media/article_images/default_image/default.jpg">
							<div class="request-txt">
								<span class="request-name"><a href="http://192.168.1.209/artures/{{ related.r_id  }}">{{ related.r_title }}</a></span>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>

				<!-- Timeline -->
				<div class="mid-container">
					<div class="mid-content">
						<div class="banner">
							<span class="banner-text">Articles</span>
						</div>
					</div>
					{% with 0 as idx %}
					{% for article in recent_articles %}
					<div class="mid-content">
						<div class="article">
							<div class="article-top">
								<div class="profile-container">
									<img class="profile-img" src="{{ article.image }}">
									<span class="profile-name"><a href="http://192.168.1.209/users/{{ article.id }}">{{ article.user_name }}</a></span><br>
									<span class="time-stamp">{{ article.registered_time }}</span>
								</div>
								<div class="article-top-contents">{{ article.text }}</div>
								<div class="article-top-sub-contents">
									<span class="tag">#{{ article.tag }}</span>
								</div>
							</div>
							<div class="article-bottom">
								<!-- "comments" and "more comments button" and "comment write area" -->
								<div class="comment-input">
									<img class="profile-img-s" src="{{ article.image }}">
									<form class="comment-form" onsubmit="return submitComment('{{ article.article_id }}',{{ forloop.counter0 }});">{% csrf_token %}
										<input class="coinput" class="comment" name="comment" type="text" placeholder="댓글을 입력하세요..">
									</form>
								</div>
								<div class="comments-container">
									{% for comment in article.comment_list %}
									<div class="comment-content">
										<img class="profile-img-s" src="{{ comment.image }}">
										<div class="comment-text">
											<span class="profile-name">{{ comment.name }}</span><span class="comment-text-body">{{ comment.comment }}</span>
										</div>
									</div>
									{% endfor %}
								</div>
								<div class="comments-bottom">
									<!-- show more comments.. -->
								</div>
							</div>
						</div>
					</div><!-- mid content -->
					{% endfor %}
					{% endwith %}
				</div>
			</div>
		</div>
	</div>
	</body>
  <script>
		function submitComment(article_id,idx) {
			var URL = 'http://192.168.1.209/users/{{ user_objectId }}/articles/'+article_id+'/comments/create'
			$.ajax({
					url: URL,
					type:'post',
					data: $('.comment-form').eq(idx).serialize(),
					success:function(data){ 
						console.log(idx)
						$('.comments-container')[idx].innerHTML = '<div class="comment-content"><img class="profile-img-s" src="{{ user_img_url }}"><div class="comment-text"><span class="profile-name"><a href="http://192.168.1.209/users/{{ user_objectId }}">{{ user_name }}</a></span><span class="comment-text-body">'+$('.coinput').eq(idx).val()+'</span></div></div>' + $('.comments-container')[idx].innerHTML
					}
			})	
			return false;
		}
	</script>
</html>
